:root {
  --body-color: #071324;
  --extra--color: #121b29;
  --main-color: #60f1d0;
  --item-color: #dff6ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--item-color);
  background: var(--body-color);
  text-align: center;
  display: flex;
  -webkit-user-select: none;
  justify-content: center;
  align-items: center;
}

/* COUNTER */

.counter {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  border-radius: 7px;
  transition: all 0.5s ease;
  background: #0a192f;
  border: 3px solid #0a192f;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

.counter:hover {
  border: 3px solid var(--main-color);
}

/* COUNT_LABEL */

.counter label {
  margin-bottom: 50px;
  color: var(--item-color);
  font-size: calc(70 / 16 * 1rem);
}

/*  */

.counter__btn button {
  padding: 10px 30px;
  margin: 0 20px 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.counter__btn button i {
  transition: all 0.7s ease;
}

.counter__btn #decrease__btn {
  color: var(--extra--color);
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
}

.counter__btn #reset__btn {
  color: var(--main-color);
  background: none;
  border: 2.5px solid var(--main-color);
  border-radius: 5px;
  font-size: calc(19 / 16 * 1rem);
  font-weight: 700;
}

.counter__btn #increase__btn {
  color: var(--extra--color);
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  font-size: calc(19 / 16 * 1rem);
  font-weight: 700;
}

.counter__btn #decrease__btn:hover,
.counter__btn #increase__btn:hover {
  background: #60f1cfd3;
}

.counter__btn #reset__btn:hover i {
  transform: rotate(180deg);
}

/* MEDIA QUERY */

@media (max-width: 480px) {
  .counter {
    width: 350px;
    height: 250px;
  }
  /* COUNT_LABEL */

  .counter label {
    margin-bottom: 50px;
    color: var(--item-color);
    font-size: calc(60 / 16 * 1rem);
  }

  /*  */

  .counter__btn button {
    padding: 8px 25px;
    margin: 0 10px 10px 10px;
  }

  .counter__btn #decrease__btn {
    font-size: calc(20 / 16 * 1rem);
  }

  .counter__btn #reset__btn {
    font-size: calc(16 / 16 * 1rem);
  }

  .counter__btn #increase__btn {
    font-size: calc(19 / 16 * 1rem);
  }
}

@media (max-width: 370px) {
  .counter {
    width: 300px;
    height: 250px;
  }
  /* COUNT_LABEL */

  .counter label {
    margin-bottom: 50px;
    color: var(--item-color);
    font-size: calc(60 / 16 * 1rem);
  }

  /*  */

  .counter__btn button {
    padding: 8px 25px;
    margin: 0 10px 10px 10px;
  }

  .counter__btn #decrease__btn {
    font-size: calc(19 / 16 * 1rem);
  }

  .counter__btn #reset__btn {
    font-size: calc(16 / 16 * 1rem);
  }

  .counter__btn #increase__btn {
    font-size: calc(18 / 16 * 1rem);
  }
}
